<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>White Wine Predictor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.1.0/math.min.js"></script>
</head>
<body>
  <table id='tbl' border=1></table>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>White Wine Quality Predictor</h1>
        <p></p>     
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <img  src="static/images/whitewineshades.jpg" width="200"  height=auto>
        <p>Enter the physical and chemical characteristics of your new white wine and it will
          predict its quality</p>
        <!-- <button class="btn" onClick="window.location.reload();">Clear Input Values</button> -->
        <!-- <button id="button" type="button" class="btn">Run Prediction</button> -->
        <h2>Range values for white wine quality analysis </h2>  
        <body onload=showallcharacterictics()> </body>
                   
        <!-- <div class="col-md-6"> -->
        <div class="col-md-5">
          <aside class="filters">
            <div class="panel panel-default">
              <!-- <div class="panel-heading">Filter Search</div> -->
              <div class="panel-body">
                <div class="form-group">
                  <form method="POST" action="/send" role="form" name="wineform">
                    <br>
                    <div class="form-group">
                      <label for="inputfixedacidity">Enter Fixed Acidity</label>
                      <input type="text" class="form-control" id="fixed_acidity" name="fixed_acidity"
                        placeholder="Value between 3.8 & 14.2">
                    </div>
                    <div class="form-group">
                      <label for="inputLat">Enter Volatile Acidity</label>
                      <input type="text" class="form-control" id="volatile_acidity" name="volatile_acidity"
                        placeholder="Value between 0.08 & 1.1">
                    </div>
                    <div class="form-group">
                      <label for="inputcitricacid">Enter Citric Acid</label>
                      <input type="text" class="form-control" id="citric_acid" name="citric_acid"
                        placeholder="Value between 0 & 1.66">
                    </div>
                    <div class="form-group">
                      <label for="inputresidualsugar">Enter Residual Sugar</label>
                      <input type="text" class="form-control" id="residual_sugar" name="residual_sugar"
                        placeholder="Value between 0.6 & 65.8">
                    </div>
                    <div class="form-group">
                      <label for="inputclorides">Enter Chlorides</label>
                      <input type="text" class="form-control" id="chlorides" name="chlorides"
                        placeholder="Value between 0.009 & 0.346">
                    </div>
                    <div class="form-group">
                      <label for="inputfreesulfurdioxide">Enter Free Sulfur Dioxide</label>
                      <input type="text" class="form-control" id="free_sulfur_dioxide" name="free_sulfur_dioxide"
                        placeholder="Value between 2 & 289">
                    </div>
                    <div class="form-group">
                      <label for="inputtotalsulfurdioxide">Enter Total Sulfur Dioxide</label>
                      <input type="text" class="form-control" id="total_sulfur_dioxide" name="total_sulfur_dioxide"
                        placeholder="Value between 9 & 440">
                    </div>
                    <div class="form-group">
                      <label for="inputdensity">Enter Density</label>
                      <input type="text" class="form-control" id="density" name="density"
                        placeholder="Value between 0.98711 & 1.03898">
                    </div>
                    <div class="form-group">
                      <label for="inputph">Enter pH</label>
                      <input type="text" class="form-control" id="pH" name="pH" placeholder="Value between 2.72 & 3.82">
                    </div>
                    <div class="form-group">
                      <label for="inputsulphates">Enter Sulphates</label>
                      <input type="text" class="form-control" id="sulphates" name="sulphates"
                        placeholder="Value between 0.22 & 1.08">
                    </div>
                    <div class="form-group">
                      <label for="inputalcohol">Enter Alcohol</label>
                      <input type="text" class="form-control" id="alcohol" name="alcohol"
                        placeholder="Value between 8 & 14.2">
                    </div>
                    <input id="button" type="submit" value="Run Prediction" class="btn btn-default">
                    </form>
                    <br>
                    <a class="btn btn-default" href="/predict_new_wine" role="button">Clear Values</a>
                    <!-- <button class="btn" onClick="window.location.reload();">Clear Input Values</button> -->
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-7">
          <div id="table-area" class="">
            <table id="ranges-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Characteristic</th>  
                  <th class="table-head">Min Value</th>                 
                  <th class="table-head">Max Value</th>  
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table> 
          </div>
          </div>
          <br> <br>
          <div>
            <p> Your predicted wine quality is:
              <br> <br>
              {{ result }}</p>
          </div>
        </div>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/data.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
